@model PiesListViewModel

<body>
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-lg-9 col-md-12 col-sm-12">

                    <div class="shop-upper-box clearfix">

                    </div>

                </div>
                <!-- Shop Item -->

                @foreach (var pie in Model.Pies)
                {
                    <partial name="_PieCard" model="pie" />
                }
            </div>
        </div>
        </div>


</body>

